.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  img {
    height: 200px;
    background-color: #f0f0f0;
    margin: 200px 0;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
  }
  
  img.loaded {
    opacity: 1; 
  }